*{
    margin: 0;
    padding: 0;
}

.cookie-status-message {
    display: none;
}

.inspiration-on-demand-mobile {
    display: none;
}


.inspiration-on-demand-container {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 940px;
    height: 7711px;
}

.inspiration-on-demand-block-1 {
    display: block;
    background: rgba(39,39,39,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/home+hero.jpg);
    background-repeat: no-repeat;
    background-position: 100% 30%;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1089px;
    position: relative;
}

.inspiration-on-demand-block-2 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1113px;
    position: relative;
}

.inspiration-on-demand-block-3 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 839px;
    position: relative;
}

.inspiration-on-demand-block-4 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1238px;
    position: relative;
}

.inspiration-on-demand-block-5 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 466px;
    position: relative;
}

.inspiration-on-demand-block-6 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 619px;
    position: relative;
}

.inspiration-on-demand-block-7 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 640px;
    position: relative;
}

.inspiration-on-demand-block-8 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 318px;
    position: relative;
}

.inspiration-on-demand-block-9 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 74px;
    position: relative;
}

.inspiration-on-demand-block-10 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1079px;
    position: relative;
}

.inspiration-on-demand-block-11 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 237px;
    position: relative;
}

/* content */

.inspiration-on-demand-block-content {
    top: 0px;
    width: 940px;
    margin-left: -470px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 0;
    z-index: 1;
}

.inspiration-on-demand-content-1 {
    left: 315px;
    top: 73px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 81;
    width: 310px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-2 {
    left: 191px;
    top: 116px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 1;
    width: 558px;
    height: 95px;
    position: absolute;
}

.inspiration-on-demand-content-3 {
    left: 37px;
    top: 936px;
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    z-index: 82;
    width: 865px;
    height: 310px;
    position: absolute;
}

.inspiration-on-demand-content-3-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 108px;
    top: 42px;
    z-index: 83;
    width: 650px;
    height: 136px;
    position: absolute;
}

.inspiration-on-demand-content-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 158px;
    top: 208px;
    z-index: 84;
    width: 570px;
    height: 57px;
    position: absolute;
}

.inspiration-on-demand-content-3-bg {
    left: 11px;
    top: 878px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 29;
    position: absolute;
}

.inspiration-on-demand-content-3-bg-container {
    border-style: none;
    border-radius: 0px;
    width: 918px;
    height: 426px;
}

.inspiration-on-demand-content-3-bg img{
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-4 {
    left: 191px;
    top: 1298px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 41;
    width: 558px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-5 {
    left: 145px;
    top: 1366px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 42;
    width: 650px;
    height: 64px;
    position: absolute;
}

.inspiration-on-demand-content-6-1 {
    left: 90px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 50;
    position: absolute;
}

.inspiration-on-demand-content-6-2 {
    left: 360px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 49;
    position: absolute;
}

.inspiration-on-demand-content-6-3 {
    left: 630px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 48;
    position: absolute;
}

.inspiration-on-demand-content-6-4 {
    left: 218px;
    top: 1825px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 51;
    position: absolute;
}

.inspiration-on-demand-content-6-5 {
    left: 502px;
    top: 1825px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 57;
    position: absolute;
}

.inspiration-on-demand-content-6-6 {
    left: 90px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 43;
    width: 213px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-7 {
    left: 388px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 47;
    width: 150px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-8 {
    left: 633px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 46;
    width: 200px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-9 {
    left: 228px;
    top: 2079px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 45;
    width: 189px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-10 {
    left: 512px;
    top: 2079px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 44;
    width: 180px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-container {
    border-style: none;
    border-radius: 0px;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.inspiration-on-demand-content-6-container img {
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-7-1 {
    left: 74px;
    top: 2283px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 91;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-2 {
    left: 0px;
    top: 2248px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 61;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-7-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 110px;
    top: 186px;
    z-index: 62;
    width: 250px;
    height: 44px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 79px;
    top: 89px;
    z-index: 63;
    width: 311px;
    height: 76px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 74px;
    top: 266px;
    z-index: 64;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-3 {
    left: 470px;
    top: 2204px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-3-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 65;
    width: 470px;
    height: 417px;
    position: absolute;
}

.inspiration-on-demand-content-7-4 {
    left: 0px;
    top: 2621px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-4-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 85;
    width: 470px;
    height: 420px;
    position: absolute;
}

.inspiration-on-demand-content-7-5 {
    left: 544px;
    top: 2690px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 90;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-6 {
    left: 470px;
    top: 2666px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 86;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-7-6-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 55px;
    top: 174px;
    z-index: 87;
    width: 359px;
    height: 66px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 79px;
    top: 79px;
    z-index: 88;
    width: 311px;
    height: 76px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 74px;
    top: 302px;
    z-index: 89;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-8-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 24px;
    top: 3078px;
    z-index: 52;
    width: 892px;
    height: 325px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 612px;
    top: 139px;
    z-index: 55;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 66px;
    z-index: 54;
    width: 428px;
    height: 168px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 277px;
    z-index: 56;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 582px;
    top: 123px;
    z-index: 53;
    width: 217px;
    height: 48px;
    position: absolute;
}

.inspiration-on-demand-content-8-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 24px;
    top: 3420px;
    z-index: 66;
    width: 892px;
    height: 438px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 396px;
    top: 59px;
    z-index: 68;
    width: 469px;
    height: 294px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 113px;
    top: 209px;
    z-index: 69;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 396px;
    top: 372px;
    z-index: 70;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 83px;
    top: 193px;;
    z-index: 67;
    width: 217px;
    height: 48px;
    position: absolute;
}

.inspiration-on-demand-content-8-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0px;
    left: 24px;
    top: 3877px;
    z-index: 71;
    width: 892px;
    height: 324px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 65px;
    z-index: 75;
    width: 407px;
    height: 210px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 600px;
    top: 152.5px;
    z-index: 73;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 327px;
    z-index: 74;
    width: 244px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 570px;
    top: 137px;
    z-index: 72;
    width: 217px;
    height: 48px;
    position: absolute;
}

.inspiration-on-demand-content-9-1 {
    display: block;
    background: rgba(255,255,255,0);
    left: 0px;
    top: 4354.5px;
    z-index: 77;
    position: absolute;
}

.inspiration-on-demand-content-9-2 {
    display: block;
    background: rgba(255,255,255,0);
    left: 196px;
    top: 4354.5px;
    z-index: 79;
    position: absolute;
}

.inspiration-on-demand-content-9-3 {
    display: block;
    background: rgba(255,255,255,0);
    left: 393px;
    top: 4354.5px;
    z-index: 78;
    position: absolute;
}

.inspiration-on-demand-content-9-5 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 612px;
    top: 4558px;
    z-index: 80;
    width: 323px;
    height: 64px;
    position: absolute;
}

.inspiration-on-demand-content-9-4 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 612px;
    top: 4406.5px;
    z-index: 76;
    width: 293px;
    height: 167px;
    position: absolute;
}

.inspiration-on-demand-content-10-1 {
    left: 191px;
    top: 4812px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 58;
    width: 558px;
    height: 58px;
    position: absolute;
}

.inspiration-on-demand-content-10-container {
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-10-container img{
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-10-2 {
    left: -161px;
    top: 4900px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 60;
    position: absolute;
}

.inspiration-on-demand-content-10-3 {
    left: 468px;
    top: 4900px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 59;
    width: 441px;
    height: 384px;
    position: absolute;
}

.inspiration-on-demand-content-11-1 {
    left: 220px;
    top: 5430px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 26;
    width: 470px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-11-2 {
    left: 0px;
    top: 5491px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 11;
    width: 310px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-11-3 {
    left: 310px;
    top: 5491px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 40;
    width: 310px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-11-4 {
    left: 627px;
    top: 5491px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 12;
    width: 310px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-11-container {
    border-style: none;
    border-radius: 156px;
    width: 250px;
    height: 250px;
}

.inspiration-on-demand-content-11-container img{
    border-style: none;
    border-radius: 156px;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-11-5 {
    left: 30px;
    top: 5537px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 18;
    position: absolute;
}

.inspiration-on-demand-content-11-6 {
    left: 340px;
    top: 5537px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 17;
    position: absolute;
}

.inspiration-on-demand-content-11-7 {
    left: 657px;
    top: 5537px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 19;
    position: absolute;
}

.inspiration-on-demand-content-11-label {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.inspiration-on-demand-content-11-8 {
    left: 698px;
    top: 5823px;
    display: block;
    border-style: none;
    border-radius: 0px;
    z-index: 20;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.inspiration-on-demand-content-11-9 {
    left: 381px;
    top: 5823px;
    display: block;
    border-style: none;
    border-radius: 0px;
    z-index: 21;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.inspiration-on-demand-content-11-10 {
    left: 71px;
    top: 5823px;
    display: block;
    border-style: none;
    border-radius: 0px;
    z-index: 22;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.inspiration-on-demand-content-12-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-12-1 {
    left: 62px;
    top: 6004px;
    display: block;
    background: rgba(0,0,0,0);
    border-style: none;
    border-radius: 0px;
    z-index: 30;
    width: 365px;
    height: 316px;
    position: absolute;
}

.inspiration-on-demand-content-12-1-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: -11px;
    top: 68px;
    z-index: 33;
    width: 376px;
    height: 24px;
    position: absolute;
}

.inspiration-on-demand-content-12-1-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 47.5px;
    top: 115px;
    z-index: 32;
    width: 259px;
    height: 66px;
    position: absolute;
}

.inspiration-on-demand-content-12-1-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 93px;
    top: 232px;
    z-index: 31;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(255,255,255,1);
    box-shadow: none;
    text-shadow: none;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.inspiration-on-demand-content-12-label {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.inspiration-on-demand-content-12-2-container {
    border-style: none;
    border-radius: 0px;
    width: 390px;
    height: 392px;
}

.inspiration-on-demand-content-12-2 {
    left: 506px;
    top: 5967px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 34;
    position: absolute;
}

.inspiration-on-demand-content-13-1 {
    left: 0px;
    top: 6430px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 6;
    width: 940px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-13-2 {
    left: 0px;
    top: 6485px;
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    z-index: 2;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-13-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-13-container-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 107px;
    top: 124px;
    z-index: 4;
    width: 247px;
    height: 88px;
    position: absolute;
}

.inspiration-on-demand-content-13-container-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 0px;
    top: 74px;
    z-index: 3;
    width: 470px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-13-label {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.inspiration-on-demand-content-13-container-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 151px;
    top: 231px;
    z-index: 5;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.inspiration-on-demand-content-13-3 {
    left: 470px;
    top: 6815px;
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    z-index: 13;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-13-4{
    left: 0px;
    top: 7145px;
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    z-index: 7;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-13-3 .inspiration-on-demand-content-13-container-1 {
    top: 137px;
}

.inspiration-on-demand-content-13-5 {
    left: 470px;
    top: 6485px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-13-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 24;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-13-6 {
    left: 0px;
    top: 6815px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-13-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 23;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-13-7 {
    left: 470px;
    top: 7145px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-13-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 23;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-14-1 {
    left: 79px;
    top: 7567px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 28;
    width: 782px;
    height: 52px;
    position: absolute;
}

/* mobile */

.inspiration-on-demand-mobile {
    position: relative
}

.inspiration-on-demand-container-mobile {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 320px;
    height: 7956px;
  
}

.iod-mobile-block-1 {
    display: block;
    background: rgba(78,87,82,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 583px;
}

.iod-mobile-block-2 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1052px;
    position: relative;
}

.iod-mobile-block-3 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1026px;
    position: relative;
}

.iod-mobile-block-4 {
    display: block;
    background: rgba(0,3,1,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1321px;
    position: relative;
}

.iod-mobile-block-5 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 616px;
    position: relative;
}

.iod-mobile-block-6 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1211px;
    position: relative;
}

.iod-mobile-block-7 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 526px;
    position: relative;
}

.iod-mobile-block-8 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1409px;
    position: relative;
}

.iod-mobile-block-9 {
    display: block;
    background: rgba(0,3,1,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 212px;
    position: relative;
}

.iod-mobile-content {
    top: 0px;
    width: 320px;
    margin-left: -160px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 0;
    z-index: 1;
}

.iod-mobile-content-1-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 34px;
    top: 47px;
    z-index: 81;
    width: 280px;
    height: 19px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-1-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 39px;
    top: 81px;
    z-index: 1;
    width: 483px;
    height: 95px;
    transform: scale(0.5);
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    left: -323px;
    top: 519px;
    z-index: 29;
    position: absolute;
    overflow: hidden;
}

.iod-mobile-content-2-1-container {
    border-style: none;
    border-radius: 0px;
    width: 965px;
    height: 448px;
}

.iod-mobile-content-2-1-container img {
    height: 100%;
    width: 100%;
}

.iod-mobile-content-2-2 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    left: 28px;
    top: 607px;
    z-index: 82;
    width: 264px;
    height: 266px;
    position: absolute;
}

.iod-mobile-content-2-2-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.iod-mobile-content-2-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 1.25px;
    top: 15px;
    z-index: 83;
    width: 390px;
    height: 232px;
    transform: scale(0.67);
    transform-origin: 0 0;
    -webkit-transform: scale(0.67);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-2-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: -14.75px;
    top: 184px;
    z-index: 84;
    width: 341px;
    height: 95px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 51px;
    top: 947px;
    z-index: 41;
    width: 297px;
    height: 76px;
    transform: scale(0.73);
    transform-origin: 0 0;
    -webkit-transform: scale(0.73);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 8px;
    top: 1023px;
    z-index: 42;
    width: 430px;
    height: 64px;
    transform: scale(0.69);
    transform-origin: 0 0;
    -webkit-transform: scale(0.69);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-3 {
    display: block;
    background: rgba(255,255,255,0);
    left: 50px;
    top: 1097px;
    z-index: 50;
    position: absolute;
}

.iod-mobile-content-3-3-container {
    border-style: none;
    border-radius: 0px;
    width: 220px;
    height: 220px;
}

.iod-mobile-content-3-3 img {
    width: 100%;
    height: 100%;
}

.iod-mobile-content-3-4 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 37.5px;
    top: 1355px;
    z-index: 43;
    width: 322px;
    height: 19px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-5 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 37.5px;
    top: 1408px;
    z-index: 44;
    width: 322px;
    height: 19px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-6 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 31px;
    top: 1461px;
    z-index: 45;
    width: 339px;
    height: 19px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-7 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 37.5px;
    top: 1514px;
    z-index: 46;
    width: 322px;
    height: 19px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-3-8 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 37.5px;
    top: 1567px;
    z-index: 47;
    width: 322px;
    height: 19px;
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 40px;
    top: 1680px;
    z-index: 91;
    width: 300px;
    height: 19px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-2 {
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-4-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 1726px;
    z-index: 65;
    width: 280px;
    height: 170px;
    position: absolute;
}

.iod-mobile-content-4-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.iod-mobile-content-4-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 1921px;
    z-index: 61;
    width: 280px;
    height: 230px;
    position: absolute;
}

.iod-mobile-content-4-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 19px;
    top: 86px;
    z-index: 62;
    width: 242px;
    height: 44px;
    position: absolute;
}

.iod-mobile-content-4-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 22px;
    top: 9px;
    z-index: 63;
    width: 321px;
    height: 76px;
    transform: scale(0.7344632768361582);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7344632768361582);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-3-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 164px;
    z-index: 64;
    width: 300px;
    height: 19px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-4 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 40px;
    top: 2146px;
    z-index: 90;
    width: 300px;
    height: 19px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-5 {
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-4-2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 2192px;
    z-index: 85;
    width: 280px;
    height: 170px;
    position: absolute;
}

.iod-mobile-content-4-6 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 2387px;
    z-index: 86;
    width: 280px;
    height: 230px;
    position: absolute;
}

.iod-mobile-content-4-6-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 12.5px;
    top: 88px;
    z-index: 87;
    width: 255px;
    height: 88px;
    position: absolute;
}

.iod-mobile-content-4-6-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 10px;
    z-index: 88;
    width: 354px;
    height: 76px;
    transform: scale(0.7344632768361582);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7344632768361582);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-4-6-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 225px;
    z-index: 89;
    width: 300px;
    height: 19px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-5-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 17px;
    top: 2698px;
    z-index: 94;
    width: 286px;
    height: 326px;
    position: absolute;
}

.iod-mobile-content-5-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.iod-mobile-content-5-1-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 259px;
    z-index: 98;
    width: 159px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-5-1-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 11px;
    top: 26px;
    z-index: 95;
    width: 376px;
    height: 210px;
    transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-5-1-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 205px;
    z-index: 96;
    width: 159px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-5-1-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 32px;
    top: 244px;
    z-index: 97;
    width: 217px;
    height: 48px;
    position: absolute;
}

.iod-mobile-content-5-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 17px;
    top: 3041px;
    z-index: 101;
    width: 286px;
    height: 486px;
    position: absolute;
}

.iod-mobile-content-5-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 13px;
    top: 42px;
    z-index: 102;
    width: 361px;
    height: 378px;
    transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-5-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 352px;
    z-index: 104;
    width: 159px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-5-2-3 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 33px;
    top: 399px;
    z-index: 99;
    width: 217px;
    height: 48px;
    position: absolute;
}

.iod-mobile-content-5-2-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 29px;
    top: 13px;
    z-index: 100;
    width: 159px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-5-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0px;
    left: 17px;
    top: 3558px;
    z-index: 103;
    width: 286px;
    height: 376px;
    position: absolute;
}

.iod-mobile-content-5-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 8px;
    top: 50px;
    z-index: 105;
    width: 386px;
    height: 252px;
    transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-5-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 21px;
    top: 253px;
    z-index: 108;
    width: 244px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-5-3-3 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 33px;
    top: 307px;
    z-index: 106;
    width: 217px;
    height: 48px;
    position: absolute;
}

.iod-mobile-content-5-3-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 30px;
    top: 15px;
    z-index: 107;
    width: 159px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-6-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 13px;
    top: 4034px;
    z-index: 58;
    width: 483px;
    height: 58px;
    transform: scale(0.61);
    transform-origin: 0 0;
    -webkit-transform: scale(0.61);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-6-2 {
    display: block;
    background: rgba(255,255,255,0);
    left: 24.5px;
    top: 4089px;
    z-index: 60;
    position: absolute;
}

.iod-mobile-content-6-2-container {
    border-style: none;
    border-radius: 0px;
    width: 272px;
    height: 182px;
}

.iod-mobile-content-6-2-container img {
    height: 100%;
    width: 100%;
}

.iod-mobile-content-6-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 22.5px;
    top: 4302px;
    z-index: 59;
    width: 412px;
    height: 352px;
    transform: scale(0.67);
    transform-origin: 0 0;
    -webkit-transform: scale(0.67);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-7-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 4671px;
    z-index: 26;
    width: 280px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-7-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 4743px;
    z-index: 11;
    width: 280px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-7-3 {
    display: block;
    background: rgba(255,255,255,0);
    left: 70.5px;
    top: 4786px;
    z-index: 18;
    position: absolute;
}

.iod-mobile-content-7-container {
    border-style: none;
    border-radius: 156px;
    width: 179px;
    height: 179px;
}

.iod-mobile-content-7-container img {
    width: 100%;
    height: 100%;
}

.iod-mobile-content-7-label{
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.iod-mobile-content-7-4 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 76px;
    top: 4989px;
    z-index: 22;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-7-5 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 5098px;
    z-index: 12;
    width: 280px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-7-6 {
    display: block;
    background: rgba(255,255,255,0);
    left: 70.5px;
    top: 5141px;
    z-index: 19;
    position: absolute;
}

.iod-mobile-content-7-7 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 76px;
    top: 5344px;
    z-index: 20;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-7-8 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 5453px;
    z-index: 40;
    width: 280px;
    height: 19px;
    position: absolute;
}

.iod-mobile-content-7-9 {
    display: block;
    background: rgba(255,255,255,0);
    left: 70.5px;
    top: 5493px;
    z-index: 17;
    position: absolute;
}

.iod-mobile-content-7-10 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 76px;
    top: 5696px;
    z-index: 21;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-8-1 {
    display: block;
    background: rgba(255,255,255,0);
    left: 33px;
    top: 5809px;
    z-index: 34;
    position: absolute;
}

.iod-mobile-content-8-1-container {
    border-style: none;
    border-radius: 0px;
    width: 253px;
    height: 252px;
}

.iod-mobile-content-8-1-container img{
    width: 100%;
    height: 100%;
}

.iod-mobile-content-8-2 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    border-radius: 0px;
    left: 33px;
    top: 6066px;
    z-index: 30;
    width: 253px;
    height: 235px;
    position: absolute;
}

.iod-mobile-content-8-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.iod-mobile-content-8-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: -6.5px;
    top: 44px;
    z-index: 33;
    width: 324px;
    height: 24px;
    transform: scale(0.82);
    transform-origin: 0 0;
    -webkit-transform: scale(0.82);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-8-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 8px;
    top: 78px;
    z-index: 32;
    width: 259px;
    height: 66px;
    transform: scale(0.91);
    transform-origin: 0 0;
    -webkit-transform: scale(0.91);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-8-2-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 42.5px;
    top: 180px;
    z-index: 31;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(255,255,255,1);
    box-shadow: none;
    text-shadow: none;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-8-label {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.iod-mobile-content-9-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 39px;
    top: 6354px;
    z-index: 6;
    width: 300px;
    height: 19px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-9-2 {
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-9-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 6417px;
    z-index: 24;
    width: 280px;
    height: 170px;
    position: absolute;
}

.iod-mobile-content-9-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.iod-mobile-content-9-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 6611px;
    z-index: 2;
    width: 280px;
    height: 230px;
    position: absolute;
}

.iod-mobile-content-9-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 22px;
    top: 48px;
    z-index: 4;
    width: 236px;
    height: 88px;
    position: absolute;
}

.iod-mobile-content-9-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 10px;
    z-index: 3;
    width: 354px;
    height: 19px;
    transform: scale(0.7344632768361582);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7344632768361582);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-9-label {
    margin-top: -7px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.iod-mobile-content-9-3-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 56px;
    top: 156px;
    z-index: 5;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-9-4 {
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-9-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 6865px;
    z-index: 23;
    width: 280px;
    height: 170px;
    position: absolute;
}

.iod-mobile-content-9-5 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 7059px;
    z-index: 13;
    width: 280px;
    height: 242px;
    position: absolute;
}

.iod-mobile-content-9-5-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 10px;
    z-index: 14;
    width: 353px;
    height: 19px;
    transform: scale(0.7365439093484419);
    transform-origin: 0 0;
    -webkit-transform: scale(0.7365439093484419);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-9-5-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 35px;
    top: 48px;
    z-index: 15;
    width: 210px;
    height: 66px;
    position: absolute;
}

.iod-mobile-content-9-5-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 56px;
    top: 147px;
    z-index: 16;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-9-6 {
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-9-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 7325px;
    z-index: 23;
    width: 280px;
    height: 170px;
    position: absolute;
}

.iod-mobile-content-9-7 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 7498px;
    z-index: 7;
    width: 280px;
    height: 222px;
    position: absolute;
}

.iod-mobile-content-9-7-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 13px;
    top: 47px;
    z-index: 8;
    width: 253px;
    height: 66px;
    position: absolute;
}

.iod-mobile-content-9-7-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 10px;
    z-index: 10;
    width: 395px;
    height: 19px;
    transform: scale(0.6582278481012658);
    transform-origin: 0 0;
    -webkit-transform: scale(0.6582278481012658);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

.iod-mobile-content-9-7-3 {
    display: block;
    border-style: none;
    border-radius: 0px;
    left: 56px;
    top: 146px;
    z-index: 9;
    width: 168px;
    height: 50px;
    position: absolute;
    background: rgba(0,0,0,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.iod-mobile-content-10-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 27px;
    top: 7796px;
    z-index: 28;
    width: 324px;
    height: 130px;
    transform: scale(0.82);
    transform-origin: 0 0;
    -webkit-transform: scale(0.82);
    -webkit-transform-origin: 0 0;
    position: absolute;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 97dpi) {
    .inspiration-on-demand-content-7-3 {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-3-2.jpg);
    }

    .inspiration-on-demand-content-7-4 {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-4-2.jpg);
    }
}

@media only screen and (max-width: 939px) {
    .inspiration-on-demand-block-content {
        top: 0px;
        width: 940px;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        z-index: 1;
    }
  }


@media only screen and (max-width: 600px) {
    .inspiration-on-demand-desktop {
        display: none;
    }

    .inspiration-on-demand-mobile {
        display: block;
        overflow-x: hidden; 
    }
}

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1.1), only screen and (max-width: 600px) and (min-resolution: 97dpi) {
    .iod-mobile-content-4-2 {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-4-1-2.jpg);
    }

    .iod-mobile-content-4-5  {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/mobile-content-4-2-2.jpg);
    }
}