*{
    margin: 0;
    padding: 0;
}

.inspiration-on-demand-container {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 940px;
    height: 7788px;
}

.inspiration-on-demand-block-1 {
    display: block;
    background: rgba(39,39,39,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/home+hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1089px;
    position: relative;
}

.inspiration-on-demand-block-2 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1113px;
    position: relative;
}

.inspiration-on-demand-block-3 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 839px;
    position: relative;
}

.inspiration-on-demand-block-4 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1238px;
    position: relative;
}

.inspiration-on-demand-block-5 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 466px;
    position: relative;
}

.inspiration-on-demand-block-6 {
    display: block;
    background: rgba(240,240,240,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 619px;
    position: relative;
}

.inspiration-on-demand-block-7 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 640px;
    position: relative;
}

.inspiration-on-demand-block-8 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 318px;
    position: relative;
}

.inspiration-on-demand-block-9 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 74px;
    position: relative;
}

.inspiration-on-demand-block-10 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1078px;
    position: relative;
}

.inspiration-on-demand-block-11 {
    display: block;
    background: rgba(0,0,0,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 237px;
    position: relative;
}

/* content */

.inspiration-on-demand-block-content {
    top: 0px;
    width: 940px;
    margin-left: -470px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 0;
    z-index: 1;
}

.inspiration-on-demand-content-1 {
    left: 315px;
    top: 73px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 81;
    width: 310px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-2 {
    left: 191px;
    top: 116px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 1;
    width: 558px;
    height: 95px;
    position: absolute;
}

.inspiration-on-demand-content-3 {
    left: 37px;
    top: 936px;
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    border-radius: 0px;
    z-index: 82;
    width: 865px;
    height: 310px;
    position: absolute;
}

.inspiration-on-demand-content-3-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 108px;
    top: 42px;
    z-index: 83;
    width: 650px;
    height: 136px;
    position: absolute;
}

.inspiration-on-demand-content-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 178px;
    top: 208px;
    z-index: 84;
    width: 530px;
    height: 57px;
    position: absolute;
}

.inspiration-on-demand-content-3-bg {
    left: 11px;
    top: 878px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 29;
    position: absolute;
}

.inspiration-on-demand-content-3-bg-container {
    border-style: none;
    border-radius: 0px;
    width: 918px;
    height: 426px;
}

.inspiration-on-demand-content-3-bg img{
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-4 {
    left: 191px;
    top: 1298px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 41;
    width: 558px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-5 {
    left: 145px;
    top: 1366px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 42;
    width: 650px;
    height: 64px;
    position: absolute;
}

.inspiration-on-demand-content-6-1 {
    left: 90px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 50;
    position: absolute;
}

.inspiration-on-demand-content-6-2 {
    left: 360px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 49;
    position: absolute;
}

.inspiration-on-demand-content-6-3 {
    left: 630px;
    top: 1473px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 48;
    position: absolute;
}

.inspiration-on-demand-content-6-4 {
    left: 218px;
    top: 1825px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 51;
    position: absolute;
}

.inspiration-on-demand-content-6-5 {
    left: 502px;
    top: 1825px;
    display: block;
    background: rgba(255,255,255,0);
    z-index: 57;
    position: absolute;
}

.inspiration-on-demand-content-6-6 {
    left: 90px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 43;
    width: 213px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-7 {
    left: 388px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 47;
    width: 150px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-8 {
    left: 633px;
    top: 1729px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 46;
    width: 200px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-9 {
    left: 228px;
    top: 2079px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 45;
    width: 189px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-10 {
    left: 512px;
    top: 2079px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 44;
    width: 180px;
    height: 38px;
    position: absolute;
}

.inspiration-on-demand-content-6-container {
    border-style: none;
    border-radius: 0px;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.inspiration-on-demand-content-6-container img {
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-7-1 {
    left: 74px;
    top: 2283px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 91;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-2 {
    left: 0px;
    top: 2248px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 61;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inspiration-on-demand-content-7-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 110px;
    top: 186px;
    z-index: 62;
    width: 250px;
    height: 44px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 79px;
    top: 89px;
    z-index: 63;
    width: 311px;
    height: 76px;
    position: absolute;
}

.inspiration-on-demand-content-7-2-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 74px;
    top: 266px;
    z-index: 64;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-3 {
    left: 470px;
    top: 2204px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-3-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 65;
    width: 470px;
    height: 417px;
    position: absolute;
}

.inspiration-on-demand-content-7-4 {
    left: 0px;
    top: 2621px;
    display: block;
    background: rgba(255,255,255,0);
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-4-1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-style: none;
    border-radius: 0px;
    z-index: 85;
    width: 470px;
    height: 420px;
    position: absolute;
}

.inspiration-on-demand-content-7-5 {
    left: 544px;
    top: 2690px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 90;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-7-6 {
    left: 470px;
    top: 2666px;
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    z-index: 86;
    width: 470px;
    height: 330px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-7-6-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 55px;
    top: 174px;
    z-index: 87;
    width: 359px;
    height: 66px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 79px;
    top: 79px;
    z-index: 88;
    width: 311px;
    height: 76px;
    position: absolute;
}

.inspiration-on-demand-content-7-6-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 74px;
    top: 272px;
    z-index: 89;
    width: 321px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.inspiration-on-demand-content-8-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 24px;
    top: 3078px;
    z-index: 52;
    width: 892px;
    height: 325px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 612px;
    top: 139px;
    z-index: 55;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 66px;
    z-index: 54;
    width: 428px;
    height: 168px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 277px;
    z-index: 56;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-1-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 578px;
    top: 126px;
    z-index: 53;
    width: 217px;
    height: 48px;
    position: absolute;
}

.inspiration-on-demand-content-8-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 24px;
    top: 3420px;
    z-index: 66;
    width: 892px;
    height: 438px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 396px;
    top: 59px;
    z-index: 68;
    width: 469px;
    height: 294px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 113px;
    top: 209px;
    z-index: 69;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 396px;
    top: 372px;
    z-index: 70;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-2-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 83px;
    top: 196px;
    z-index: 67;
    width: 217px;
    height: 48px;
    position: absolute;
}

.inspiration-on-demand-content-8-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0px;
    left: 24px;
    top: 3877px;
    z-index: 71;
    width: 892px;
    height: 324px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-1 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 65px;
    z-index: 75;
    width: 407px;
    height: 210px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 600px;
    top: 152.5px;
    z-index: 73;
    width: 159px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-3 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 327px;
    z-index: 74;
    width: 244px;
    height: 19px;
    position: absolute;
}

.inspiration-on-demand-content-8-3-4 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 570px;
    top: 140px;
    z-index: 72;
    width: 217px;
    height: 48px;
    position: absolute;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 97dpi) {
    .inspiration-on-demand-content-7-3 {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-3-2.jpg);
    }

    .inspiration-on-demand-content-7-4 {
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Inspiration+on+Demand/content-7-4-2.jpg);
    }
}

@media only screen and (max-width: 939px) {
    .inspiration-on-demand-block-content {
        top: 0px;
        width: 940px;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        z-index: 1;
    }
  }